<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <meta name="description" content="{{description}}">

    <meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 5" />
    <meta name="apple-mobile-web-app-title" content="{{name}}" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />


    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Open Graph -->
    <meta property="og:url"                content="https://polyptyque.photo" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{{title}}" />
    <meta property="og:description"        content="{{description}}" />
    <meta property="og:image"              content="{{socialImage}}" />

{{#each scripts}}
    <script src="{{this}}"></script>
{{/each}}

</head>
<body class="{{#each bodyClasses}}{{this}} {{/each}}">
<header class="header">
    <nav>
        <h1 class="header__title"><a href="/"><i class="icon-logo-polyptyque" title="Polyptyque"></i><span>Polyptyque</span></a></h1>
        <p class="baseline">par Bertrand Sandrez <span class="box"></span>et Arthur Violy</p>
    </nav>
</header>
{{{body}}}
<footer class="footer">
    <nav>
        <ul>
            <li>
                <a href="/a-propos">À propos</a>
            </li>
            <li>
                <a href="http://notes.polyptyque.photo/" target="_blank" rel="noopener">Notes</a>
            </li>
            <li>
                <a href="https://twitter.com/PolyptyquePhoto" target="_blank" rel="noopener">Twitter</a>
            </li>
            <li>
                <a href="http://f93.fr" target="_blank" rel="noopener">F93</a>
            </li>
            <li>
                <a href="http://violy.net" target="_blank" rel="noopener">Arthur Violy</a>
            </li>
            <li>
                <a href="http://bertrandsandrez.com" target="_blank" rel="noopener">Bertrand Sandrez</a>        </ul>
        </li>
    </nav>
</footer>
<div class="site-loader">
    <div class="icon-logo-polyptyque"></div>
</div>
<script>
    window.lazyLoadOptions = {};
</script>
<style>{{{cssEmbeded}}}</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js" async></script>
<link rel="preload" href="/css/print.css" media="print" as="style" onload="this.rel='stylesheet'">

</body>
</html>