<div class="list-all container">
{{#each results}}
    <div class="list-item col-md-6 col-sm-6 col-xs-12">
        <a href="/preview-{{uid}}">
            <picture class="preview" style="background-image:url(/mixes/thumbs/preview-{{uid}}.jpg)" >

            </picture>
            <div class="date">{{date}}</div>
            <div class="user">{{user_firstname}} {{user_lastname}} </div>
        </a>
        <pre class="bg-danger">{{uid}}</pre>
    </div>
{{/each}}
</div>